#layers-panel {
    width: 250px;
    height: 750px;
    background-color: rgb(214, 214, 214);
    overflow: scroll;
}

#layers-panel div {
    /* width: fit-content;
    margin: 300px auto;
    font-size: 20px;
    font-weight: bolder; */
}