#layers-panel {
    width: 250px;
    height: 750px;
    background-color: rgb(214, 214, 214);
    overflow: scroll;
}
.layer-item {
    font-size: 20px;
}

.btn-delete {
    width: 100%;
    display: block;
    background-color: tomato;
    padding: 5px;
    border-radius: 10px;
    margin: 5px auto 5px auto;
}

.layer-item {
    margin: 5px;
}
