body {
    width: fit-content;
    margin: 0 auto;
    min-width: 1000px;
}

.main-container {
    min-width: 1000px;
}

.tools {
    width: 450px;
}

.folder {
    background-color: black;
    width: 150px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.sub-folder {
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    /* height: fit-content; */
    overflow: scroll;
    height: 750px;
}

.sub-folder-item {
    padding-left: 20px;
    padding-right: 20px;
    height: 750px;
    /* width: 179px; */
}

.flex {
    display: flex;
}

.folder-item {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
}

.active {
    background-color: gray;
}

.filter-slide {
    display: block;
}

.filter-item {
    padding: 10px;
}

.filter-item-name {
    float: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.bg-black {
    background-color: black;
    color: white;
}

.properties-item {
    padding: 20px 5px 20px 5px;
}

.input-sm {
    width: 60px;
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

h2 {
    text-align: center;
}

#new-text-btn {
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    margin: 0 auto;
}

#edit-text {
    display: none;
}

.fit-content {
    width: fit-content;
}

.center {
    margin: 0 auto;
}

.color-bar {
    margin-top: 20px
}

.font-size {
    margin: 20px 0 20px 0;
}

#red,
#green,
#blue {
    width: 100px;
}

input[type='range'] {
    cursor: pointer;
}

.shape-menu-item {
    display: block;
    width: 150px;
    margin: 20px auto 10px auto;
    background-color: white;
    outline: 2px solid black;
}

.shape-menu-item:hover {
    outline: 2px solid blue;
}

.shape-properties {
    display: none;
    margin: 10px auto 10px auto;
}

#shapes-tools {
    padding: 20px 0 20px 0;
}